.signup_container {
  width: 45%;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 2%;
  height: auto;
  padding: 30px 30px 25px;
  margin: 40px auto;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 10px 10px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.signup_container div {
  margin-bottom: 15px;
}

.paragraph {
  font-size: 14px;
  margin-left: 40px;
}

.paragraph a {
  color: #fe8402;
}

input {
  width: 100%;
  padding: 17px;
  border: 0.5px solid #ddd;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-bottom: 3px solid #fe8402;
}

.inputfirst {
  display: flex;
}

.lastName {
  margin-left: 15px;
}

.error {
  color: red;
  font-size: 0.9em;
}

button {
  padding: 10px;
  background-color: #2156e9;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  color: #fff;
}

button:hover {
  background-color: #3a66e5;
}

.login_link {
  text-align: center;
  margin-top: 15px;
}

.login_link a {
  color: #fe8402;
  text-decoration: none;
}

.login_link a:hover {
  text-decoration: none;
}

.inputfirst {
  display: flex;
  padding: 0 17px 0 2px;
  margin: auto;
  /* background-color: red; */
}

.password_field {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle_password {
  position: absolute;
  right: 10px;
  background: none;
  cursor: pointer;
  font-size: 20px;
}

.toggle_password:hover {
  background: none;
}

@media screen and (max-width: 760px) {
  .signup_container {
    width: 100%;
  }
}
